@media (max-width: 1803px) {
    .iphone-ipad-div img {
        width: 490px;
    }
}
@media (max-width: 1795px) {
    .iphone-ipad-div img {
        width: 460px;
    }
}
@media (max-width: 1763px) {
    .iphone-ipad-p :nth-child(2) {
        font-weight: 300;
    }
    .iphone-ipad-p :nth-child(3) {
        font-weight: 300;
    }
    .vr-glass {
        margin-left: 5.3cm;
    }
    .new-location {
        margin-left: 4.8cm;
    }
}
@media (max-width: 1736px) {
    .chamonatvali-tableta div {
        margin-left: 3.4cm;
    }
}
@media (max-width: 1720px) {
    .new-location {
        margin-left: 4.2cm;
    }
}
@media (max-width: 1698px) {
    .iphone-ipad-div img {
        width: 530px;
    }
    .iphone-ipad-div {
        margin-left: 0cm;
        margin-right: 0cm;
    }
}
@media (max-width: 1698px) {
    .iphone-ipad-div img {
        width: 500px;
    }
    .chamonatvali-tableta div {
        margin-left: 3.4cm;
    }
    .new-location {
        margin-left: 3cm;
    }
    .vr-glass {
        margin-left: 4.8cm;
    }
    .arrival div p {
        text-align: left;
    }
}    
@media (max-width: 1666px) {
    .satvirto-div {
        margin-left: 3.4cm;
    }
}
@media (max-width: 1636px) {
    nav ul {
        margin-left: 16cm;
    }
}
@media (max-width: 1576px) {
    .new-location {
        margin-left: 1.5cm;
    }
    .yursasmenebis-teqsti {
        margin-left: 20%;
    }
    .chamonatvali-tableta div {
        margin-left: 3cm;
    }
    .vr-glass {
        margin-left: 4cm;
    }
}
@media (max-width: 1560px) {
    .share-div {
        margin: 0.5cm 2cm;
    }
}
@media (max-width: 1522px) {
    .vr-glass {
        margin-left: 3cm;
    }
}
@media (max-width: 1509px) {
    .chamonatvali-tableta div {
        margin-left: 2.7cm;
    }
    .vr-glass {
        margin-left: 2.5cm;
    }
    .new-location {
        margin-left: 1cm;
    }
}
@media (max-width: 1493px) {
    .satvirto-div {
        margin-left: 1.3cm;
    }
}
@media (max-width: 1477px) {
    .div-darekvis {
        margin-left: 1cm;
    }
    .new-location {
        margin-left: 2cm;
    }
    .satvirto-div {
        margin-left: 2cm;
    }
    .sesonal-shoping {
        margin-left: 1cm;
    }
    .boost-loyalty {
        margin-left: 1cm;
    }
    .quality-wins {
        margin-left: 1cm;
    }
    .share-div {
        margin-left: 0cm;
        margin-top: 3ch;
    }
    .subscribe {
        margin-left: 1cm;
    }
}
@media (max-width: 1436px) {
    .logo-div {
        margin-left: 3cm;
    }
}
@media (max-width: 1439px) {
    .satvirto-div {
        margin-left: 1cm;
    }
}
@media (max-width: 1432px) {
    .vr-glass {
        margin-right: 1ch;
    }
    .vr-controler {
        margin-right: 1ch;
    }
    .vr-glasstander {
        margin-right: 1ch;
    }
    .vr-sensor {
        margin-right: 1ch;
    }
    .chamonatvali-tableta div {
        margin-left: 7%;
    }
}
@media (max-width: 1402px) {
    .satvirto-div {
        margin-right: 1ch;
    }
    .fuli-div {
        margin-right: 1ch;
    }
    .naoshniki-div {
        margin-right: 1ch;
    }
    .klite-div {
        margin-right: 1ch;
    }
    .new-location {
        margin-left: 1cm;
    }
}
@media (max-width: 1364px) {
    .new-location {
        margin-left: 1.4ch;
    }
}
@media (max-width: 1339px) {
    nav ul {
        margin-left: 9cm;
    }
    .chamonatvali-tableta div {
        margin-left: 2cm;
    }
    .vr-glass {
        margin-left: 1.3cm;
    }
    .sesonal-shoping {
        margin-left: 1ch;
    }
    .boost-loyalty {
        margin-left: 1ch;
    }
    .quality-wins {
        margin-left: 1ch;
    }
    .new-location {
        margin-left: 1.5cm;
    }
}
@media (max-width: 1285px) {
    .klite-div {
        margin-right: 0ch;
    }
    .satvirto-div img {
        width: 40px;
    }
}
@media (max-width: 1284px) {
    .vr-image {
        width: 700px;
        height: 400px;
    }
}
@media (max-width:1276px) {
    .satvirto-div {
        margin-left: 2cm;
        width: 250px;
    }
    .fuli-div {
        width: 250px;
    }
    .naoshniki-div {
        width: 250px;
    }
    .klite-div {
        width: 250px;
    }
}
@media (max-width: 1295px) {
    .new-location {
        margin-left: 0.6cm;
    }
    .vr-sensor {
        margin-right: 0cm;
    }
    .vr-glass {
        margin-left: 1ch;
    }
    .yursasmenebis-teqsti {
        margin-left: 15%;
    }
}
@media (max-width: 1230px) {
    .chamonatvali-tableta div {
        margin-left: 7ch;
    }
}
@media (max-width: 1261px) {
    .location-img img {
        width: 280px;
    }
    .sesonal-img img {
        width: 280px;
    }
    .boost-loyalty-img img {
        width: 280px;
    }
    .quality-img img {
        width: 280px;
    }
    .new-location {
        margin-left: 1.2cm;
    }
}
@media (max-width: 1220px) {
    .vr-glass-img img {
        width: 240px;
    }
    .vr-glass-p :nth-child(1) {
        font-size: 15px;
    }
    .vr-glass-p :nth-child(2) {
        font-size: 15px;
    }
    .vr-glass-buy button {
        font-size: 15px;
        padding: 10px 0px;
        width: 240px;
    }
    .vr-controler-img img {
        width: 288px;
    }
    .vr-controler-p :nth-child(1) {
        font-size: 15px;
    }
    .vr-controler-p :nth-child(2) {
        font-size: 15px;
    }
    .vr-controler-buy button {
        width: 240px;
        padding: 10px 0px;
        font-size: 15px;
    }
    .vr-glass-stander img {
        width: 278px;
    }
    .vr-glass-stander-p :nth-child(1) {
        font-size: 15px;
    }
    .vr-glass-stander-p :nth-child(2) {
        font-size: 15px;
    }
    .vr-glass-stander-buy button {
        font-size: 15px;
        width: 240px;
    }
    .vr-glasstander {
        margin-top: -1ch;
    }
    .vr-sensor-img img {
        width: 240px;
    }
    .vr-sensor-p :nth-child(1) {
        font-size: 15px;
    }
    .vr-sensor-p :nth-child(2) {
        font-size: 15px;
    }
    .vr-sensor-buy button {
        font-size: 15px;
        width: 240px;
    }
}
@media (max-width: 1209px) {
    .logo-div {
        margin-left: 0.7cm;
    }
    .yursasmeni-img {
        width: 46px;
    }
    .search-div {
        margin-left: 2cm;
    }
}
@media (max-width: 1204px) {
    .new-location {
        margin-left: 1ch;
    }
    .yursasmenebis-teqsti {
        margin-left: 12%;
    }
}
@media (max-width: 1187px) {
    .iphone-ipad-div img {
        width: 400px;
    }
    .iphone-ipad-p {
        margin-top: 4cm;
    }
}
@media (max-width: 1182px) {
    .share-div {
        margin-right: 0ch;
    }
}
@media (max-width: 1167px) {
    .chamonatvali-tableta div {
        margin-left: 6ch;
    }
    .location-img img {
        width: 240px;
        height: 200px;
    }
    .sesonal-img img {
        width: 240px;
        height: 200px;
    }
    .boost-loyalty-img img {
        width: 240px;
        height: 200px;
    }
    .quality-img img {
        width: 240px;
        height: 200px;
    }
    .new-location {
        margin-left: 2.4cm;
        width: 240px;
    }
    .location-p :nth-child(1) {
        font-size: 15px;
    }
    .location-p :nth-child(2) {
        font-size: 12px;
    }
    .sesonal-shoping {
        width: 240px;
    }
    .seasonal-shopping-p :nth-child(1) {
        font-size: 15px;
    }
    .seasonal-shopping-p :nth-child(2) {
        font-size: 12px;
    }
    .boost-loyalty {
        width: 240px;
    }
    .boost-loyalty-p :nth-child(1) {
        font-size: 15px;
    }
    .boost-loyalty-p :nth-child(2) {
        font-size: 12px;
    }
    .boost-loyalty-p :nth-child(3) {
        font-size: 12px;
    }
    .quality-wins {
        width: 240px;
    }
    .quality-p :nth-child(1) {
        font-size: 15px;
    }
    .quality-p :nth-child(2) {
        font-size: 12px;
    }
    .quality-p :nth-child(3) {
        font-size: 12px;
    }
    .quality-p :nth-child(4) {
        font-size: 12px;
    }
}
@media (max-width: 1114px) {
    .satvirto-div {
        margin-left: 1ch;
    }
    .safule-img {
        width: 40px;
        margin-top: 3.3ch;
    }
    .fuli-div {
        vertical-align: top;
    }
    .money-karta {
        margin-top: 3ch;
    }
    .naoshniki1-div img {
        width: 38px;
        margin-top: 3.3ch;
    }
    .naoshniki1-div {
        vertical-align: 1cm;
    }
    .klites-div img {
        width: 40px;
    }
    .klites-div {
        vertical-align: 1cm;
    }
    .satvirto-div {
        margin-left: 3%;
    }
    .new-location {
        margin-left: 5%;
    }
    .yursasmenebis-teqsti {
        margin-left: 10%;
    }
    .vr-controler {
        margin-right: 0cm;
    }
    .vr-glass-img img {
        width: 220px;
    }
    .vr-glass-p :nth-child(1) {
        font-size: 14px;
    }
    .vr-glass-p :nth-child(2) {
        font-size: 14px;
    }
    .vr-glass-buy button {
        font-size: 14px;
        padding: 10px 0px;
        width: 220px;
    }
    .vr-controler-img img {
        width: 263px;
        height: 187px;
    }
    .vr-controler-p :nth-child(1) {
        font-size: 13px;
    }
    .vr-controler-p :nth-child(2) {
        font-size: 13px;
    }
    .vr-controler-buy button {
        width: 220px;
        padding: 10px 0px;
        font-size: 14px;
    }
    .vr-glass-stander img {
        width: 250px;
        height: 170px;
    }
    .vr-glass-stander-p :nth-child(1) {
        font-size: 13px;
    }
    .vr-glass-stander-p :nth-child(2) {
        font-size: 13px;
    }
    .vr-glass-stander-buy button {
        font-size: 14px;
        width: 220px;
    }
    .vr-glasstander {
        margin-top: -1ch;
    }
    .vr-sensor-img img {
        width: 220px;
        height: 160px;
    }
    .vr-sensor-p :nth-child(1) {
        font-size: 13px;
    }
    .vr-sensor-p :nth-child(2) {
        font-size: 13px;
    }
    .vr-sensor-buy button {
        font-size: 14px;
        width: 220px;
    }
    .vr-glass {
        margin-left: 4ch;
    }
}
@media (max-width: 1087px) {
    .bag-div  {
        margin-left: 3cm;
    }
    .chamonatvali-tableta div {
        margin-left: 5ch;
    }
    .iphone-ipad-div img {
        width: 300px;
        margin-bottom: 3cm;
    }
    .iphone-ipad-p {
        margin-top: 2.4cm;
    }
    .iphone-ipad-p :nth-child(1) {
        font-size: 30px;
    }
    .iphone-ipad-p :nth-child(2) {
        font-size: 15px;
    }
    .iphone-ipad-p :nth-child(3) {
        font-size: 15px;
    }
    .ipad-button {
        padding: 14px 39px;
        font-size: 15px;
    }
    .subscribe :nth-child(1) {
        font-size: 17px;
    }
    .subscribe :nth-child(2) {
        font-size: 17px;
    }
    .subscribe {
        margin-top: 1.4cm;
    }
    .email-inputa {
        margin-left: 1cm;
    }
    .email-inputa input {
        height: 35px;
        width: 320px;
    }
    .share-divlogo a {
        padding: 0cm;
    }
    .share-divlogo :nth-child(1) {
        width: 35px;
        margin-left: 2ch;
    }
    .vr-image {
        width: 600px;
        height: 400px;
    }
    .satvirto-div {
        margin-left: 0.6ch;
    }
    .fuli-div {
        margin-right: 0cm;
    }
    .naoshniki-div {
        margin-right: 0cm;
    }
    .klite-div {
        margin-right: 0cm;
    }
    .yursasmeni-img {
        width: 40px;
    }
    .search-div {
        margin-left: 3ch;
    }
}
@media (max-width: 1026px) {
    .satvirto-div {
        width: 200px;
    }
    .satvirto-div img {
        width: 32px;
    }
    .namceca1 {
        font-size: 14px;
    }
    .namceca2 {
        font-size: 13px;
        margin-left: 9px;
    }
    .fuli-div {
        width: 200px;
    }
    .safule-img {
        width: 30px;
    }
    .money-karta :nth-child(1) {
        font-size: 14px;
    }
    .money-karta :nth-child(2) {
        font-size: 13px;
        margin-left: 1.1ch;
    }
    .naoshniki1-div img {
        width: 30px;
        margin-top: 3.5ch;
    }
    .naoshniki-p :nth-child(1) {
        font-size: 14px;
        margin-top: 3px;
    }
    .naoshniki-p :nth-child(2) {
        font-size: 13px;
    }
    .naoshniki-div {
        vertical-align: top;
        width: 200px;
    }
    .klites-div img {
        width: 32px;
        margin-top: 3.5ch;
    }
    .klite-p :nth-child(1) {
        font-size: 14px;
        margin-top: 4px;
    }
    .klite-p :nth-child(2) {
        font-size: 13px;
    }
    .klite-div {
        width: 200px;
    }
    .satvirto-div {
        margin-left: 1.7cm;
    }
}
@media (max-width: 1052px) {
    .vr-glass-img {
        width: 180px;
        margin-right: 0cm;
    }
    .vr-glass-img img {
        width: 180px;
    }
    .vr-glass-p {
        width: 210px;
    }
    .vr-glass-p :nth-child(1) {
        font-size: 12px;
    }
    .vr-glass-p :nth-child(2) {
        font-size: 12px;
    }
    .vr-glass-buy button {
        font-size: 12px;
        padding: 10px 0px;
        width: 180px;
    }
    .vr-controler-img {
        width: 180px;
    }
    .vr-controler-img img {
        width: 200px;
        height: 150px;
    }
    .vr-controler-p :nth-child(1) {
        font-size: 12px;
    }
    .vr-controler-p {
        width: 220px;
    }
    .vr-controler-p :nth-child(2) {
        font-size: 12px;
    }
    .vr-controler-buy button {
        width: 187px;
        padding: 10px 0px;
        font-size: 12px;
    }
    .vr-glass-stander {
        width: 180px;
    }
    .vr-glass-stander img {
        width: 180px;
        height: 140px;
    }
    .vr-glass-stander-p {
        width: 180px;
    }
    .vr-glass-stander-p :nth-child(1) {
        font-size: 12px;
    }
    .vr-glass-stander-p :nth-child(2) {
        font-size: 12px;
    }
    .vr-glass-stander-buy button {
        font-size: 12px;
        width: 180px;
        margin-left: 0cm;
    }
    .vr-sensor-img {
        width: 180px;
    }
    .vr-sensor-img img {
        width: 180px;
        height: 140px;
    }
    .vr-sensor-p {
        width: 210px;
    }
    .vr-sensor-p :nth-child(1) {
        font-size: 12px;
    }
    .vr-sensor-p :nth-child(2) {
        font-size: 12px;
    }
    .vr-sensor-buy button {
        font-size: 12px;
        width: 180px;
    }
    .vr-glass {
        vertical-align: top;
        margin-left: 1.8cm;
    }
    .vr-controler {
        vertical-align: top;
        margin-top: -20px;
    }
    .vr-glasstander {
        vertical-align: top;
        margin-top: -10px;
        margin-left: 2.1ch;
    }
    .vr-sensor {
        vertical-align: top;
        margin-top: -9px;
        margin-left: 2ch;
    }
}
@media (max-width: 1017px) {
    .saatis-div {
        width: 48%;
        background-position: -3cm 1cm;
        background-size:initial;
    }
    .dronis-div {
        width: 48%;
        background-position: -5cm 1cm;
    }
}
@media (max-width: 1035px) {
    .chamonatvali-tableta div {
        margin-left: 6ch;
        font-size: 10px;
    }
}
@media (max-width: 1053px) {
    .new-location{
        margin-left: 3ch;
    }
    .yursasmenebis-teqsti {
        margin-left:6%;
    }
}
@media (max-width: 1024px) {
    .new-location {
        margin-left: 2ch;
        width: 220px;
    }
    .location-img img {
        width: 220px;
        height: 180px;
    }
    .sesonal-shoping {
        width: 220px;
    }
    .sesonal-img img {
        width: 220px;
        height: 180px;
    }
    .boost-loyalty {
        width: 220px;
    }
    .boost-loyalty-img img {
        width: 220px;
        height: 180px;
    }
    .quality-wins {
        width: 220px;
    }
    .quality-img img {
        width: 220px;
        height: 180px;
    }
}
@media (max-width: 977px) {
    .vr-image {
        width: 400px;
        height: 250px;
    }
    .name1 {
        font-size: 40px;
        margin-bottom: 0.2ch;
    }
    .name2 {
        font-size: 38px;
        margin-bottom: 0.3ch;
    }
    .name3 {
        font-size: 40px;
        margin-bottom: 0.5ch;
    }
    .name-div {
        margin-top: 1cm;
    }
    .gilaki {
        font-size: 20px;
        border-radius: 30px;
        padding: 13px 33px 13px 33px;
        color: white;
        background-color: #4143e2;
    }
    .vr-glass {
        margin-left: 1cm;
    }
    .bevri-foto {
        background-color: white;
        height: 300px;
        margin-top: 1cm;
    }
    .arrival div {
        margin-left: 9cm;
    }
    .yursasmenebis-teqsti {
        margin-left: 4%;
    }
}
@media (max-width: 972px) {
    .chamonatvali-tableta div {
        margin-left: 4ch;
        font-size: 9px;
    }
    .iphone-ipad-div img {
        width: 250px;
        margin-bottom: 3cm;
        margin-top: 0.5cm;
    }
    .yursasmenebis-teqsti {
        margin-left: 2%;
    }
    .vr-glass {
        margin-left: 3ch;
    }
    .div-nomrebi {
        display: inline-block;
        font-size: 13px;
        margin-left: 1ch;
        vertical-align: middle;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .saziebo-div {
        background-color: white;
        width: 400px;
        height: 35px;
        border-radius: 15px;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        background-color: rgba(236,236,236,1);
    }
    .search {
        width: 360px;
        height: 35px;
        border-radius: 15px;
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(236,236,236,1);
        font-family: inherit;
    }
}
@media (max-width: 921px) {
    nav ul {
        margin-left: 6cm;
    }
    .yursasmenebis-teqsti {
        width: 90%;
        margin-left: 5%;
    }
}
@media (max-width: 936px) {
    .new-location {
        margin-left: 3ch;
        width: 200px;
    }
    .location-img img {
        width: 200px;
        height: 160px;
    }
    .sesonal-shoping {
        width: 200px;
    }
    .sesonal-img img {
        width: 200px;
        height: 160px;
    }
    .boost-loyalty {
        width: 200px;
    }
    .boost-loyalty-img img {
        width: 200px;
        height: 160px;
    }
    .quality-wins {
        width: 200px;
    }
    .quality-img img {
        width: 200px;
        height: 160px;
    }
    .quality-p :nth-child(5) {
        margin-top: 4.9ch;
    }
    .yursasmenebis-teqsti {
        width: 90%;
        margin-left: 4%;
    }
}
@media (max-width: 936px) {
    .share-div {
        width: 300px;
    }
}
@media (max-width: 911px) {
    .vr-glass {
        margin-left: 1ch;
    }
}
@media (max-width: 894px) {
    .iphone-ipad-p {
        width: 600px;
    }
    .vr-glass {
        margin-right: 0cm;
    }
    .vr-glasstander {
        margin-right: 0cm;
        margin-left: 1ch;
    }
    .chamonatvali-tableta div p {
        font-size: 15px;
        font-weight: 500;
    }
}
@media (max-width: 867px) {
    .new-location {
        margin-left: 1ch;
    }
    .vr-glass-img {
        width: 140px;
        margin-right: 0cm;
        margin-top: -7px;
    }
    .vr-glass {
        margin-left: 1.3cm;
    }
    .vr-glass-img img {
        width: 140px;
    }
    .vr-glass-p {
        width: 170px;
    }
    .vr-glass-p :nth-child(1) {
        font-size: 9px;
    }
    .vr-glass-p :nth-child(2) {
        font-size: 9px;
    }
    .vr-glass-buy button {
        font-size: 11px;
        padding: 9px 0px;
        width: 140px;
    }
    .vr-controler-img {
        width: 150px;
    }
    .vr-controler-img img {
        width: 150px;
        height: 100px;
    }
    .vr-controler-p :nth-child(1) {
        font-size: 9px;
    }
    .vr-controler-p {
        width: 150px;
    }
    .vr-controler-p :nth-child(2) {
        font-size: 9px;
    }
    .vr-controler-buy button {
        width: 140px;
        padding: 10px 0px;
        margin-left: 1ch;
        font-size: 12px;
    }
    .vr-glass-stander {
        width: 140px;
    }
    .vr-glass-stander img {
        width: 140px;
        height: 100px;
    }
    .vr-glass-stander-p {
        width: 140px;
    }
    .vr-glass-stander-p :nth-child(1) {
        font-size: 9px;
    }
    .vr-glass-stander-p :nth-child(2) {
        font-size: 9px;
    }
    .vr-glass-stander-buy button {
        font-size: 12px;
        width: 140px;
        margin-left: 0cm;
    }
    .vr-sensor-img {
        width: 140px;
    }
    .vr-sensor-img img {
        width: 140px;
        height: 100px;
    }
    .vr-sensor-p {
        width: 170px;
    }
    .vr-sensor-p :nth-child(1) {
        font-size: 9px;
    }
    .vr-sensor-p :nth-child(2) {
        font-size: 9px;
    }
    .vr-sensor-buy button {
        font-size: 12px;
        width: 140px;
    }
    .vr-glass {
        vertical-align: top;
        margin-left: 1.8cm;
    }
    .vr-controler {
        vertical-align: top;
        margin-top: -10px;
    }
    .vr-glasstander {
        vertical-align: top;
        margin-top: -10px;
        margin-left: 2.1ch;
    }
    .vr-sensor {
        vertical-align: top;
        margin-top: -9px;
        margin-left: 0.8ch;
    }
    .arrival div {
        margin-left: 8.7cm;
        font-size: 40px;
    }
}
@media (max-width: 886px) {
    .satvirto-div {
        margin-left: 2ch;
    }
}
@media (max-width: 855px) {
    .iphone-ipad-p {
        width: 500px;
    }
}
@media (max-width: 839px) {
    .naoshniki-div {
        width: 180px;
    }
}
@media (max-width: 862px) {
    .search {
        width: 320px;
        height: 30px;
        border-radius: 15px;
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(236,236,236,1);
        font-family: inherit;
    }
    .saziebo-div {
        background-color: white;
        width: 360px;
        height: 30px;
        border-radius: 15px;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        background-color: rgba(236,236,236,1);
    }
    .logo-div img {
        width: 120px;
    }
    .yursasmeni-img {
        width: 30px;
    }
    .div-nomrebi {
        display: inline-block;
        font-size: 10px;
        margin-left: 1ch;
        vertical-align: middle;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }    
}
@media (max-width: 819px) {
    .satvirto-div {
        width: 168px;
        margin-left: 3ch;
    }
    .fuli-div {
        width: 179px;
    }
    .naoshniki-div {
        width: 150px;
    }
    .klite-div {
        width: 190px;
    }
    .arrival div {
        margin-left: 7.5cm;
    }

    .news {
        height: 1000px;
    }
    .new-location {
        margin-left: 2.5cm; 
        display: inline-block;
        margin-right: 1cm;
    }
    .location-img img {
        width: 300px;
        border-radius: 7px;
        height: 250px;
        filter:brightness(0.7);
        transition: 0.2s;
    }
    .location-img img:hover {
        filter: brightness(1);
    }
    .location-p :nth-child(1) {
        font-size: 20px;
        font-weight: 600;
        margin-top: 1ch;
    }
    .location-p :nth-child(2) {
        margin-top: 1ch;
        color: #747474;
    }
    .location-p :nth-child(3) {
        margin-top: 1.8cm;
        color: rgba(0,68,233,1);
    }
    .sesonal-shoping {
        display: inline-block;
        margin-left: 2cm;
        vertical-align: top;
    }
    .sesonal-img img {
        width: 300px;
        border-radius: 7px;
        height: 250px;
        filter: brightness(0.7);
        transition: 0.2s;
    }
    .sesonal-img img:hover {
        filter: brightness(1);
    }
    .seasonal-shopping-p :nth-child(1) {
        font-size: 20px;
        font-weight: 600;
        margin-top: 1ch;
    }
    .seasonal-shopping-p :nth-child(2) {
        color: #747474;
        font-weight: 400;
        margin-top: 1ch;
    }
    .seasonal-shopping-p :nth-child(3) {
        margin-top: 8ch;
    }
    .boost-loyalty {
        display: inline-block;
        margin-left: 2.5cm;
        vertical-align: top;
        margin-right: 1cm;
        margin-top: 1cm;
    }
    .boost-loyalty-img img {
        width: 300px;
        height: 250px;
        transition: 0.2s;
        border-radius: 7px;
        filter: brightness(0.8);
    }
    .boost-loyalty-img img:hover {
        filter: brightness(1.2);
    }
    .boost-loyalty-p :nth-child(1) {
        font-size: 20px;
        font-weight: 600;
        margin-top: 1ch;
    }
    .boost-loyalty-p :nth-child(2) {
        font-weight: 400;
        color: #747474;
        margin-top: 1ch;
    }
    .boost-loyalty-p :nth-child(3) {
        color: #747474;
        font-weight: 400;
    }
    .boost-loyalty-p :nth-child(4) {
        font-weight: 600;
        margin-top: 6ch;
    }
    .quality-wins {
        display: inline-block;
        margin-left: 2cm;
        vertical-align: top;
        margin-top: 1cm;
    }
    .quality-img img {
        width: 300px;
        height: 250px;
        transition: 0.2s;
        border-radius: 7px;
    }
    .quality-img img:hover {
        filter:brightness(1.6);
    }
    .quality-p :nth-child(1) {
        font-size: 20px;
        font-weight: 600;
        margin-top: 1ch;
    }
    .quality-p :nth-child(2) {
        color: #747474;
        font-weight: 400;
        margin-top: 1ch;
    }
    .quality-p :nth-child(3) {
        color: #747474;
    }
    .quality-p :nth-child(4) {
        color: #747474;
    }
    .quality-p :nth-child(5) {
        margin-top: 4ch;
    }
    .share-div {
        width: 280px;
    }
}
@media (max-width: 815px) {
    .email-inputa {
        display: none;
    }
}
@media (max-width: 801px) {
    nav ul {
        margin-left: 2cm;
    }
    .bag {
        margin-left: 0.5cm;
    }
}
@media (max-width: 763px) {
    .chamonatvali-tableta div {
        font-size: 5px;
    }
    .iphone-ipad-p {
        width: 400px;
    }
}
@media (max-width: 730px) {
    .search-div {
        display: none;
    }
    .yursasmeni-img {
        margin-top: 1.3ch;
        width: 40px;
    }
    .div-nomrebi {
        font-size: 15px;
        margin-top: 1ch;
    }
    .saatis-div {
        background-position: -7cm 1cm;
    }
    .dronis-div {
        background-position: -8cm 1cm;
    }
}
@media (max-width: 734px) {
    .informacia-div {
        height: 260px;
    }
    .satvirto-div {
        background-color: white;
        display: inline-block;
        width: 300px;
        height: 100px;
        margin-top: 2ch;
        margin-right: 0cm;
        margin-left: 2.3cm;
        display: inline-block;
        vertical-align: top;
    }
    .satvirto-div div {
        display: inline-block;
        vertical-align: top;
    }
    .satvirto-div img {
        width: 50px;
        margin-top: 2.3ch;
    }
    .namceca1 {
        display: inline-block;
        margin-left: 1ch;
        margin-top: 3.2ch;
        color: black;
        font-weight: bold;
    }
    .namceca2 {
        margin-left: 1.2ch;
        color: rgb(120, 120, 120);
        font-weight: 400;
    }
    .fuli-div {
        background-color: white;
        display: inline-block;
        width: 300px;
        height: 100px;
        margin-top: 1ch;
        margin-right: 0cm;
    }
    .fuli-div :nth-child(1) {
        display: inline-block;
    }
    .money-karta {
        display: inline-block;
        vertical-align: top;
        margin-top: 3ch;
    }
    .money-karta :nth-child(1) {
        font-weight: bold;
        margin-top: 1ch;
        color: black;
        margin-left: 1ch;
    }
    .money-karta :nth-child(2) {
        color: rgb(120, 120, 120);
        margin-left: 1ch;
    }
    .safule-img {
        margin-top: 3ch;
        width: 50px;
    }
    .naoshniki-div {
        background-color: white;
        display: inline-block;
        width: 300px;
        height: 100px;
        margin-top: 1ch;
        margin-left: 2.3cm;
        margin-right: 0cm;
    }
    .naoshniki-div img {
        width: 46px;
        margin-top: 3ch;
    }
    .naoshniki1-div {
        display: inline-block;
    }
    .naoshniki-p {
        display: inline-block;
        vertical-align: top;
        margin-top: 3ch;
        margin-left: 1ch;
    }
    .naoshniki-p :nth-child(1) {
        color: black;
        font-weight: bold;
    }
    .naoshniki-p :nth-child(2) {
        color:rgb(120, 120, 120);
    }
    .klite-div {
        background-color: white;
        display: inline-block;
        width: 300px;
        height: 100px;
        margin-top: 1ch;
        margin-right: 0cm;
    }
    .klites-div {
        display: inline-block;
    }
    .klites-div img {
        width: 50px;
        margin-top: 3ch;
    }
    .klite-p {
        display: inline-block;
        vertical-align: top;
        margin-top: 3ch;
        margin-left: 1ch;
    }
    .klite-p :nth-child(1) {
        color: black;
        font-weight: bold;
    }
    .klite-p :nth-child(2) {
        color:rgb(120, 120, 120);
    }
    .meore-seqcia {
        margin-top: 3cm;
    }
}
@media (max-width: 736px) {
    .vr-glass {
        margin-left: 2ch;
    }
    .new-location {
        margin-left: 5ch;
    }
    .boost-loyalty {
        margin-left: 5ch;
    }
}
@media (max-width: 712px) {
    .saatis-div {
        width: 46%;
    }
    .dronis-div {
        width: 46%;
    }
}
@media (max-width: 715px) {
    .chamonatvali-tableta div {
        font-size: 5px;
        display: none;
    }
    .iphone-ipad-div {
        margin-top: 0cm;
    }
    .bevri-foto {
        height: 200px;
    }
}
@media (max-width: 691px) {
    .satvirto-div {
        margin-left: 2cm;
    }
    .naoshniki-div {
        margin-left: 8.8ch;
    }
    .saatis-div {
        height: 200px;
        background-size: 350px;
        background-position: -1cm 0.5cm;
    }
    .watch1 {
        margin-top: 1.4ch;
    }
    .dronis-div {
        height: 200px;
        background-size: 390px;
        background-position: -1.9cm 0.2cm;
    }
    .drone1 {
        margin-top: 1.4ch;
    }
    .arrival div {
        margin-left: 6cm;
    }
    .meore-seqcia {
        margin-top: 1cm;
    }
    .iphone-ipad-div img {
        margin-top: 2cm;
    }
}
@media (max-width: 685px) {
    .vr-glass {
        margin-left: 0.4ch;
    }
    .new-location {
        margin-left: 3ch;
    }
    .boost-loyalty {
        margin-left: 3ch;
    }
}
@media (max-width: 679px) {
    .satvirto-div {
        margin-left: 4ch;
    }
    .naoshniki-div {
        margin-left: 4ch;
    }
}
@media (max-width: 671px) {
    .vr-image {
        width: 300px;
        height: 200px;
    }
    .name1 {
        font-size: 30px;
        margin-bottom: 0.2ch;
    }

    .name2 {
        font-size: 28px;
        margin-bottom: 0.2ch;
    } 
    .name3 {
        font-size: 30px;    
    }
    .gilaki {
        font-size: 15px;
        border-radius: 30px;
        padding: 10px 30px 10px 30px;
        color: white;
        background-color: #4143e2;
    }
    .bag-div {
        margin-left: 3ch;
    }
    .vr-glass {
        margin-left: 0cm;
    }
    nav ul {
        display: none;
    }
    .menu-icon {
        padding: 18px;
        position: relative;
    }
    .menu-btn {
        display: none;
    }
    .nav-icon {
        display: block;
        background-color: white;
        width: 19px;
        height: 3px;
        cursor: pointer;
        transition: 0.1s;
        position: relative;
        float: right;
        right: 14px;
        top: 24px;
    }
    .nav-icon:before {
        content: "";
        position: absolute;
        background-color: white;
        width: 19px;
        height: 3px;
        transition: 0.5s;
        top: -6px;
    }
    .nav-icon:after {
        content: "";
        position: absolute;
        background-color: white;
        width: 19px;
        height: 3px;
        transition: 0.5s;
        top: 6px;
    }
    .menu-btn:checked ~ .menus {
        display: block;
        background-color: black;
        height: 100vh;
        margin-left: 0cm;
    }
    .menu-btn:checked ~ .menus li {
        display: block;
        text-align: center;
        padding-top: 60px;
        font-size: 20px;
    }
    .menu-btn:checked ~ .bag-div {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0cm;
    }
    .menu-btn:checked ~ .menu-icon .nav-icon:before {
        transform: rotate(-45deg);
        top: 0;
    }
    .menu-btn:checked ~ .menu-icon .nav-icon:after {
        transform: rotate(45deg);
        top: 0;
    }
    .menu-btn:checked ~ .menu-icon .nav-icon {
        background: transparent;
    }
}    
@media (max-width: 668px) {
    .vr-glass-img {
        width: 100px;
        margin-right: 0cm;
        margin-top: -7px;
    }
    .vr-glass {
        margin-left: 1.3cm;
    }
    .vr-glass-img img {
        width: 100px;
    }
    .vr-glass-p {
        width: 135px;
    }
    .vr-glass-p :nth-child(1) {
        font-size: 6.7px;
    }
    .vr-glass-p :nth-child(2) {
        font-size: 6.7px;
    }
    .vr-glass-buy button {
        font-size: 9px;
        padding: 6px 0px;
        width: 100px;
    }
    .vr-controler-img {
        width: 100px;
    }
    .vr-controler-img img {
        width: 100px;
        height: 67px;
    }
    .vr-controler-p :nth-child(1) {
        font-size: 6.7px;
    }
    .vr-controler-p {
        width: 105px;
    }
    .vr-controler-p :nth-child(2) {
        font-size: 6.7px;
    }
    .vr-controler-buy button {
        font-size: 9px;
        padding: 6px 0px;
        width: 100px;
    }
    .vr-glass-stander {
        width: 100px;
    }
    .vr-glass-stander img {
        width: 100px;
        height: 70px;
    }
    .vr-glass-stander-p {
        width: 100px;
    }
    .vr-glass-stander-p :nth-child(1) {
        font-size: 6.7px;
    }
    .vr-glass-stander-p :nth-child(2) {
        font-size: 6.7px;
    }
    .vr-glass-stander-buy button {
        font-size: 9px;
        padding: 6px 0px;
        width: 100px;
    }
    .vr-sensor-img {
        width: 100px;
    }
    .vr-sensor-img img {
        width: 100px;
        height: 70px;
    }
    .vr-sensor-p {
        width: 130px;
    }
    .vr-sensor-p :nth-child(1) {
        font-size: 6.7px;
    }
    .vr-sensor-p :nth-child(2) {
        font-size: 6.7px;
    }
    .vr-sensor-buy button {
        font-size: 9px;
        padding: 6px 0px;
        width: 100px;
    }
    .vr-glass {
        vertical-align: top;
        margin-left: 1.8cm;
        margin-top: -4px;
    }
    .vr-controler {
        vertical-align: top;
        margin-top: -7px;
    }
    .vr-glasstander {
        vertical-align: top;
        margin-top: -10px;
        margin-left: 2.1ch;
    }
    .vr-sensor {
        vertical-align: top;
        margin-top: -10px;
        margin-left: 0.8ch;
    }
    .arrival div {
        margin-left: 6.5cm;
        font-size: 30px;
        height: 70px;
    }
}
@media (max-width: 654px) {
    .iphone-ipad-p {
        width: 300px
    }
}
@media (max-width: 638px) {
    .satvirto-div {
        width: 200px;   
    }
    .satvirto-div img {
        width: 40px;
    }
    .namceca1 {
        margin-top: 5ch;
        font-size: 9px;
    }
    .namceca2 {
        font-size: 8px;
        margin-left: 6px;
    }
    .fuli-div {
        width: 200px;
    }
    .fuli-div img {
        width: 38px;
    }
    .money-karta :nth-child(1) {
        font-size: 9px;
        margin-top: 1.5ch;
    }
    .money-karta :nth-child(2) {
        font-size: 8px;
        margin-left: 6px;
    }
    .naoshniki-div {
        width: 200px;
    }
    .naoshniki-div img {
        width: 35px;
    }
    .naoshniki-p :nth-child(1) {
        font-size: 9px;
    }
    .naoshniki-p :nth-child(2) {
        font-size: 8px;
        margin-top: 4px;
        margin-left: 1px;
    }    
    .klite-div {
        width: 200px;
    }
    .klite-div img {
        width: 39px;
    }
    .klite-p :nth-child(1) {
        font-size: 9px;
        margin-top: 1.5ch;
    }
    .klite-p :nth-child(2) {
        font-size: 8px;
    }
    .klite-p {
        margin-left: 5px;
    }

    .satvirto-div {
        margin-left: 3.4cm;
    }
    .naoshniki-div {
        margin-left: 3.4cm;
    }
    .informacia-div {
        height: 250px;
    }
}
@media (max-width: 651px) {
    .location-img img {
        width: 250px;
        height: 200px;
    }
    .location-p :nth-child(1) {
        font-size: 15px;
    }
    .sesonal-img img {
        width: 250px;
        height: 200px;
    }
    .seasonal-shopping-p :nth-child(1) {
        font-size: 15px;
    }
    .boost-loyalty-img img {
        width: 250px;
        height: 200px;
    }
    .boost-loyalty-p :nth-child(1) {
        font-size: 15px;
    }
    .quality-img img {
        width: 250px;
        height: 200px;
    }
    .quality-p :nth-child(1) {
        font-size: 15px;
    }
}
@media (max-width: 605px) {
    .new-location {
        margin-right: 2ch;
    }
    .boost-loyalty {
        margin-right: 2ch;
    }
}
@media (max-width: 579px) {
    .vr-glass {
        margin-left: 2ch;
    }
    .arrival div {
        margin-left: 5cm;
    }
    .new-location {
        margin-left: 1ch;
    }
    .boost-loyalty {
        margin-left: 1ch;
    }
}
@media (max-width: 554px){
    .iphone-ipad-p {
        max-width: 280px;
    }
    .ipad-button {
        padding: 13px 30px;
        font-size: 12px;
    }
    .iphone-ipad-p :nth-child(1) {
        font-size: 23px;
    }
    .iphone-ipad-p :nth-child(2) {
        font-size: 13px;
    }.iphone-ipad-p :nth-child(3) {
        font-size: 13px;
    }
}
@media (max-width: 535px) {
    .satvirto-div {
        margin-left: 7ch;
    }
    .naoshniki-div {
        margin-left: 7ch;
    }
    .iphone-ipad-div img {
        width: 200px;
    }
    .location-img img {
        width: 200px;
        height: 170px;
    }
    .location-p :nth-child(1) {
        font-size: 13px;
    }
    .location-p :nth-child(2) {
        font-size: 10px;
    }
    .sesonal-img img {
        width: 200px;
        height: 170px;
    }
    .seasonal-shopping-p :nth-child(1) {
        font-size: 13px;
    }
    .seasonal-shopping-p :nth-child(2) {
        font-size: 10px;
    }
    .boost-loyalty-img img {
        width: 200px;
        height: 170px;
    }
    .boost-loyalty-p :nth-child(1) {
        font-size: 13px;
    }
    .boost-loyalty-p :nth-child(2) {
        font-size: 10px;
    }
    .boost-loyalty-p :nth-child(3) {
        font-size: 10px;
    }
    .quality-img img {
        width: 200px;
        height: 170px;
    }
    .quality-p :nth-child(1) {
        font-size: 13px;
    }
    .quality-p :nth-child(2) {
        font-size: 10px;
    }
    .quality-p :nth-child(3) {
        font-size: 10px;
    }
    .quality-p :nth-child(4) {
        font-size: 10px;
    }
    .new-location {
        margin-left: 5ch;
    }
    .sesonal-shoping {
        margin-left: 3ch;
    }
    .boost-loyalty {
        margin-left: 5ch;
    }
    .quality-wins {
        margin-left: 3ch;
    }
}
@media (max-width: 525px) {
    .vr-glass {
        margin-left: 0.6ch;
    }
    .yursasmenebis-teqsti {
        margin-left: 5%;
    }
}
@media (max-width: 513px) {
    .vr-glass-img {
        width: 170px;
        margin-right: 0cm;
        margin-top: -7px;
    }
    .vr-glass {
        margin-left: 1ch;
    }
    .vr-glass-img img {
        width: 140px;
    }
    .vr-glass-p {
        width: 170px;
    }
    .vr-glass-p :nth-child(1) {
        font-size: 9px;
    }
    .vr-glass-p :nth-child(2) {
        font-size: 9px;
    }
    .vr-glass-buy button {
        font-size: 9px;
        margin-left: 5ch;
        padding: 6px 0px;
        width: 120px;
    }
    .vr-controler-img {
        width: 170px;
    }
    .vr-controler-img img {
        width: 160px;
        height: 110px;
    }
    .vr-controler-p :nth-child(1) {
        font-size: 9px;
    }
    .vr-controler-p {
        width: 170px;
    }
    .vr-controler-p :nth-child(2) {
        font-size: 9px;
    }
    .vr-controler-buy button {
        font-size: 9px;
        margin-left: 5ch;
        padding: 6px 0px;
        width: 120px;
    }
    .vr-glass-stander {
        width: 170px;
    }
    .vr-glass-stander img {
        width: 140px;
        height: 90px;
    }
    .vr-glass-stander-p {
        width: 140px;
    }
    .vr-glass-stander-p :nth-child(1) {
        font-size: 9px;
    }
    .vr-glass-stander-p :nth-child(2) {
        font-size: 9px;
    }
    .vr-glass-stander-buy button {
        font-size: 9px;
        padding: 6px 0px;
        width: 120px;
        margin-left: 2ch;
    }
    .vr-sensor-img {
        width: 170px;
    }
    .vr-sensor-img img {
        width: 140px;
        height: 98px;
    }
    .vr-sensor-p {
        width: 160px;
    }
    .vr-sensor-p :nth-child(1) {
        font-size: 9px;
    }
    .vr-sensor-p :nth-child(2) {
        font-size: 9px;
    }
    .vr-sensor-buy button {
        font-size: 9px;
        margin-left: 4ch;
        padding: 6px 0px;
        width: 120px;
    }
    .vr-glass {
        vertical-align: top;
        margin-left: 1.7cm;
    }
    .vr-controler {
        vertical-align: top;
        margin-top: -2.4ch;
        margin-left: 0.8ch;
    }
    .vr-glasstander {
        vertical-align: top;
        margin-left: 2cm;
        margin-top: 1cm;
    }
    .vr-sensor {
        vertical-align: top;
        margin-left: 0ch;
        margin-top: 0.8cm;
    }
    .arrival div {
        margin-left:4cm;
        font-size: 30px;
        height: 50px;
    }
    .bevri-foto {
        height: 330px;
    }
    .news {
        height: 670px;
    }
}
@media (max-width: 502px) {
    .vr-image {
        display: none;
    }
    .vr-div {
        background-image:url(../image/289038898_389830616500198_6310367980808251452_n.jpg);
        background-position: 2cm 0cm;
        height: 200px;
    }
    .name-div {
        margin-left: 1cm;
        margin-top: 4ch;
    }
    .name1 {
        font-size: 19px;
    }
    .name2 {
        font-size: 18px;
    }
    .name3 {
        font-size: 18px;
    }
    .gilaki {
        font-size: 10px;
    }
    .new-location {
        margin-left: 1ch;
    }
    .boost-loyalty {
        margin-left: 1ch;
    }
}
@media (max-width: 487px) {
    .saatis-div {
        background-position: -3cm 0.5cm;
    }
    .saatis-warwera {
        margin-left: 0.5cm;
    }
    .watch1 {
        margin-top: 2.5ch;
        font-size: 30px;
    }
    .dronis-div {
        background-position: -4cm 0.5cm;
    }
    .dronis-warwera {
        margin-left: 0.5cm;
    }
    .drone1 {
        margin-top: 2.4ch;
        font-size: 33px;
    }
    .iphone-ipad-p {
        width: 250px;
    }
}
@media (max-width: 468px) {
    .vr-glass {
        margin-left: 1cm;
    }
    .vr-glasstander {
        margin-left: 1.3cm;
    }
    .yursasmenebis-aqcia :nth-child(1) {
        font-size: 25px;
    }
}
@media (max-width: 464px) {
    .satvirto-div {
        margin-left: 1ch;
    }
    .naoshniki-div {
        margin-left: 1ch;
    }
    .iphone-ipad-p {
        width: 200px;
    }
}
@media (max-width: 460px) {
    .sesonal-shoping {
        margin-left: 1ch;
    }
    .quality-wins {
        margin-left: 1ch;
    }
    .share-div {
        width: 240px;
    }
    .satvirto-div {
        margin-left: 6ch;
    }
    .naoshniki-div {
        margin-left: 6ch;
    }
}
@media (max-width: 456px) {
    .fuli-div {
        width: 150px;
    }
    .klite-div {
        width: 150px;
    }
    .satvirto-div {
        margin-left: 5ch;
    }
    .naoshniki-div {
        margin-left: 5ch;
    }
}
@media (max-width: 438px) {
    .watch1 {
        margin-top: 1.5ch;
    }
    .drone1 {
        margin-top: 1.5ch;
    }
    .news {
        height: 1500px;
    }
    .new-location {
        margin-left: 10ch;
        display: block;
        margin-bottom: 1cm;
    }
    .location-img img {
        width: 250px;
        height: 200px;
    }
    .location-p {
        width: 250px;
    }
    .location-p :nth-child(1) {
        font-size: 15px;
    }
    .location-p :nth-child(2) {
        font-size: 12px;
    }
    .sesonal-shoping  {
        margin-left: 10ch;
        display: block;
        margin-bottom: 1cm;
    }
    .sesonal-img img {
        width: 250px;
        height: 200px;
    }
    .seasonal-shopping-p {
        width: 250px;
    }
    .seasonal-shopping-p :nth-child(1) {
        font-size: 15px;
    }
    .seasonal-shopping-p :nth-child(2) {
        font-size: 13px;
    }
    .boost-loyalty {
        margin-left: 10ch;
        display: block;
        margin-bottom: 1cm;
    }
    .boost-loyalty-img img {
        width: 250px;
        height: 200px;
    }
    .boost-loyalty-p {
        width: 250px;
    }
    .boost-loyalty-p :nth-child(1) {
        font-size: 15px;
    }
    .boost-loyalty-p :nth-child(2) {
        font-size: 13px;
    }
    .boost-loyalty-p :nth-child(3) {
        font-size: 13px;
    }
    .quality-wins {
        margin-left: 10ch;
        display: block; 
        margin-bottom: 1cm;
    }
    .quality-img img {
        width: 250px;
        height: 200px;
    }
    .quality-p {
        width: 250px;
    }
    .quality-p :nth-child(1) {
        font-size: 15px;
    }
    .quality-p :nth-child(2) {
        font-size: 13px;
    }
    .quality-p :nth-child(3) {
        font-size: 13px;
    }
    .quality-p :nth-child(4) {
        font-size: 13px;
    }
}
@media (max-width: 413px) {
    .share-divlogo :nth-child(1) {
        width: 30px;
        padding: 3px;
        border-width: 2px;
        margin-left: 10px;
    }
    .share-div {
        width: 200px;
    }
    .subscribe :nth-child(1) {
        font-size: 15px;
    }
    .subscribe :nth-child(2) {
        font-size: 15px;
    }
    .subscribe {
        margin-left: 2ch;
    }
    .vr-glass {
        margin-left: 1ch;
    }
    .vr-glasstander {
        margin-left: 3ch;
    }
    .arrival div {
        margin-left: 3cm;
    }
}
@media (max-width: 408px) {
    .iphone-ipad-p {
        width: 150px;
        margin-bottom: 5ch;
    }
    .yursasmeni-img {
        width: 30px;
    }
    .div-nomrebi {
        font-size: 13px;
        margin-top: 10px;
    }
    .satvirto-div {
        margin-left: 3ch;
    }
    .naoshniki-div {
        margin-left: 3ch;
    }
}
@media (max-width: 397px) {
    .satvirto-div {
        width: 150px;
    }
    .naoshniki-div {
        width: 150px;
    }
    .vr-glass {
        margin-left: 1ch;
    }
    .vr-glasstander {
        margin-left: 3ch;
    }
    .new-location {
        margin-left: 0cm;
    }
    .sesonal-shoping {
        margin-left: 0cm;
    }
    .boost-loyalty {
        margin-left: 0cm;
    }
    .quality-wins {
        margin-left: 0cm;
    }
    .news {
        padding-left: 2cm;
    }
}
@media (max-width: 384px) {
    .news {
        padding-left: 1.6cm;
    }
    .vr-glass {
        margin-left: 0.3ch;
    }
    .vr-glasstander {
        margin-left: 2ch;
    }
    .saatis-div {
        width: 45%;
    }
    .dronis-div {
        width: 45%;
    }
}
@media (max-width: 375px) {
    .logo-div img {
        width: 100px;
    }
    .div-darekvis {
        margin-left: 10px;
    }
}
@media (max-width: 361px) {
    .vr-glass-img {
        width: 130px;
    }
    .vr-glass-img img {
        width: 130px;
    }
    .vr-glass-p {
        width: 130px;
        margin-left: 2ch;
    }
    .vr-glass-p :nth-child(1) {
        font-size: 8.3px;
    }
    .vr-glass-p :nth-child(2) {
        font-size: 8.3px;
    }
    .vr-glass-buy button {
        width: 120px;
        margin-left: 4.8ch;
    }
    .vr-controler-img {
        width: 130px;
    }
    .vr-controler-img img {
        width: 138px;
        height: 96px;
    }
    .vr-controler-p {
        width: 138px;
    }
    .vr-controler-p :nth-child(1) {
        font-size: 8.3px;
    }
    .vr-controler-p :nth-child(2) {
        font-size: 8.3px;
    }
    .vr-controler-buy button {
        width: 120px;
        margin-left: 2ch;
    }
    .vr-glasstander {
        width: 130px;
    }
    .vr-glass-stander {
        width: 130px;
    }
    .vr-glasstander img {
        width: 130px;
        height: 90px;
    }
    .vr-glass-stander-p {
        width: 130px;
    }
    .vr-glass-stander-p :nth-child(1) {
        font-size: 8.3px;
    }
    .vr-glass-stander-p :nth-child(2) {
        font-size: 8.3px;
    }
    .vr-glass-stander-buy button {
        width: 120px;
        margin-left: 1ch;
    }
    .vr-sensor {
        width: 130px;
    }
    .vr-sensor-img {
        width: 130px;
    }
    .vr-sensor-img img {
        width: 127px;
        height: 89px;
    }
    .vr-sensor-p {
        width: 130px;
        margin-left: 1ch;
    }
    .vr-sensor-p :nth-child(1) {
        font-size: 8.3px;
    }
    .vr-sensor-p :nth-child(2) {
        font-size: 8.3px;
    }
    .vr-sensor-buy button {
        width: 120px;
        margin-left: 2.9ch;
    }
    .vr-controler {
        margin-top: -1.6ch;
    }
    .vr-sensor {
        margin-top: 4.6ch;
    }
    .vr-glass {
        margin-left: 3ch;
    }
    .vr-glasstander {
        margin-left: 5ch;
    }
}
@media (max-width: 355px) {
    .iphone-ipad-p {
        width: 100px;
    }
    .iphone-ipad-div img {
        margin-top: 5cm;
    }
}
@media (max-width: 345px) {
    .vr-glass {
        margin-left: 1ch;
    }
    .vr-glasstander {
        margin-left: 3ch;
    }
    .news {
        padding-left: 1cm;
    }
}
@media (max-width: 337px) {
    .share-divlogo :nth-child(1) {
        width: 28px;
        padding: 2px;
        border-width: 1px;
        margin-left: 9px;
    }
    .share-div {
        width: 180px;
    }
}
@media (max-width: 330px) {
    .satvirto-div {
        width: 140px;
        margin-left: 1ch;
    }
    .naoshniki-div {
        width: 140px;
        margin-left: 1ch;
    }
}
@media (max-width: 317px) {
    .share-divlogo :nth-child(1) {
        width: 25px;
    }
    .share-div {
        width: 168px;
    }
}
@media (max-width: 305px) {
    .vr-glass {
        margin-left: 0ch;
    }
    .vr-glasstander {
        margin-left: 1.9ch;
    }
}